body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}



.board_module{
    display: grid;
    grid-template-columns: repeat(5, 110px);
    grid-template-rows: repeat(5, 110px);
    height: 550px;
    width: 550px;
}

.row_module{
    display: flex;
}

.top{
    flex-direction: row;
    gap: 10px;
    grid-area: 1/1/1/6;
}

.left{
    
    flex-direction: column;  
    gap: 10px;
    grid-area: 1/1/6/1;
}

.right{  
    flex-direction: column;
    justify-self: end;
    gap: 10px;
    grid-area: 1/5/6/6;
}

.bottom{
    flex-direction: row;
    align-self: self-end;
    gap: 10px;
    grid-area: 5/1/6/6;
}



.square{
    text-transform: uppercase;
    font-weight: 600;
    caret-color: white;
    font-size: 1.5vw;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.68)
}


.keyboard{
    height: 35vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
}



.key{
    padding: 1.25rem;
    border-radius: 0.5rem;
    background: rgb(218, 216, 216);
    text-transform: uppercase;
    font-weight: bold;
    
}



.row_module.hover > *{
    background: rgb(224, 224, 224);
    
}


.row_module:hover > *{
  cursor: pointer;
  
}
.outer_inner{
  grid-area: 2/2/5/5;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
}
.inner_box{
    grid-area: 8/7/8/7;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 100px;
    gap: 20px;
}

.rarity{
    font-size: 2vw;
    font-weight:500;
   justify-self: start;
   align-self: center;
   
}

.row_game_noti{
  min-height: 20px;
  grid-area: 3/7/3/7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  
}


.button{
    background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button:not(:disabled):hover {
    transform: scale(1.05);
  }
  
  .button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
  }
  
  .button:focus {
    outline: 0 solid transparent;
  }
  
  .button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  .button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  .button:focus:not(:focus-visible):before {
    border-width: 0;
  }
  
  .button:not(:disabled):active {
    transform: translateY(.125rem);
  }


.selected > *{
 background: #e9f4fd;
}

.line{
  width: 3px;
  height: 3px;
  background: rgb(240, 42, 42);
  animation: extendLine 1.5s ease forwards;
}

.validline{
  width: 3px;
  height: 3px;
  background: rgb(130, 253, 126);
  animation: extendLine 1.5s ease forwards;
}

.invalidline{
  width: 3px;
  height: 3px;
  background: rgb(255, 128, 128);
  animation: extendLine 1.5s ease forwards;
}

@keyframes extendLine {
    100%{
      width: 95%;
    }
}
@keyframes extendLineHeight {
  100%{
    height: 95%;
  }
}

.top_line{
  flex-direction: row;
  grid-area: 1/2/1/14;
  animation: extendLine 1.5s ease forwards;
}
.left_line{
  grid-area: 2/1/14/1;
  animation: extendLineHeight 1.5s ease forwards;
}
.right_line{
  grid-area: 2/15/14/15;
  animation: extendLineHeight 1.5s ease forwards;
  
}
.bottom_line{
  flex-direction: row;
  grid-area: 15/2/15/15;
  animation: extendLine 1.5s ease forwards;
}